.gif{
    width: 100%;
    height: 200px;
  }
.item{
    color: rgb(53, 47, 21);
}
.gg1{
  padding: 10px;
}
.shoto{
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 5px;

}